<li class="recipe">
  <div class="left-recipe-container">
    <h2><%= recipe.name %></h2>
    <%= button_to 'REMOVE', [current_user, recipe], method: :delete, class: 'recipe-remove-btn'%>
  </div>
  <div class="recipe-description">
    <%= recipe.description.truncate(100, separator: ' ') %>
  </div>
</li>
